form  { display: table;      }
form > p     { display: table-row;  }
label { display: table-cell; }
input, textarea { display: table-cell; } 
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 90px;
    margin: 0;
}

textarea { 
    margin: 0; 
    padding: 0; 
    display: block; 
    font-size: 100%; 
  } 