.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#icon {
    display: block;
    margin-left: 1em;
    margin-right: 1em;

}

#icon img {
    margin: 10px;
    width: 45px;
    height: 45px;
}

#book_table {
    text-align: center;
}

span {
    padding-left: 15px;
}

.tooltip {
    top: 0;
}

.error-page-container {
    height: 100vh;
    margin-top: 15vh;
}

.error-input {
    font-size: 1rem;
    color: red;
}

.navbar-search {
    margin-left: 2em;
    margin-right: 2em;
}

html,
body {
    height: 100vh;
    color: #3b3d44;
}

.book-form>input,
.book-form>textarea {
    width: 100%;
    margin: 8px 0;
}

.book-form>input[type=text],
.book-form>textarea {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.book-form>input[type=number] {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.book-form>input[type=submit],
.book-form>input[type=reset] {
    width: 49%;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}