.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#icon {
    display: block;
    margin-left: 1em;
    margin-right: 1em;

}

#icon img {
    margin: 10px;
    width: 45px;
    height: 45px;
}

#book_table {
    text-align: center;
}

span {
    padding-left: 15px;
}

.tooltip {
    top: 0;
}

.error-page-container {
    height: 100vh;
    margin-top: 15vh;
}

.error-input {
    font-size: 1rem;
    color: red;
}

.navbar-search {
    margin-left: 2em;
    margin-right: 2em;
}

html,
body {
    height: 100vh;
    color: #3b3d44;

}

.cart-item-name {
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    line-height: inherit;
}

.shopping-cart-hr {
    margin-top: 0;
    border-top: 4px solid #3b3d44;
}

.cart-item-price {
    margin: 8px 0;
    font-weight: 600;
    font-size: 1.2em;
}

.cart-total,
.item-count {
    font-size: 1.5rem;
}

.item-count {
    margin-bottom: 10px;
}

.cart-item-detail,
.cart-item-control {
    font-size: 11px;
}

.cart-item-detail span,
.cart-total span,
.item-count span {
    padding: 0;
}

.cart-item-controls,
.cart-amount-controls {
    list-style-type: none;
    padding-left: 0;
}

.cart-item-controls {
    margin-bottom: 0;
}

.cart-amount-controls {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

}

.book-form>input,
.book-form>textarea {
    width: 100%;
    margin: 8px 0;
}

.book-form>input[type=text],
.book-form>textarea {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.book-form>input[type=number] {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.book-form>input[type=submit],
.book-form>input[type=reset] {
    width: 49%;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.book-delete-control {
    background: none !important;
    color: #4e73df;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
}

.book-delete-control:hover{
    text-decoration:underline;
}

.cart-item-control,
.cart-amount-control {
    display: inline-block;
    text-decoration: underline;
}

.cart-item-control {
    border: none;
    background-color: transparent;
    padding: 0;
}

.cart-amount-control-button {
    border: none;
    background: transparent;
    padding: 0;
    color: #4E73DF;
}

.cart-amount-control-button:disabled {
    color: #BBBBBE;
}

.row-xs-height {
    display: table-row;
}

.row-xs-height.row-edge-unpadded .col-xs-height:first-of-type {
    padding-left: 0;
}

.add-cart-button {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
}

.checkout-button {
    background-color: #4e73df;
    color: white;
}

.mdl-card + .mdl-card {
    margin-top: 40px;
}

.mdl-card--horizontal {
    flex-direction: column;
    height: 2vh; /* 1 */
    padding-left: 150px;
    width: 100%;
}
.mdl-card__media {
        left: 0;
        position: absolute;
        width: 150px;
    }

.mdl-card__view{
    left:0;
    width: 80%;

}

.mdl-card__supporting-text {
     flex: 1 1 auto;
     width: auto;
 }

.card-image {
    width: 150px;
    height: 200px;
}

.add-cart-button-container{
    padding-top:30px;
}
