form  { display: table;      }
form > p     { display: table-row;  }
label { display: table-cell; }
input, textarea { display: table-cell; } 
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#icon {
    display: block;
    margin-left: 2.5%;
    margin-right: 2.5%;

}
#icon img{
    margin: 10px;
}

textarea { 
    margin: 0; 
    padding: 0;  
    font-size: 100%; 
  }

#book_table {
    text-align: center;
}

span {
    padding-left: 15px;
}

.tooltip {
    top: 0;
}

.error-page-container {
    height:100vh;
    margin-top: 15vh;
}

.error-input{
    font-size: 1rem;
    color: red;
}

html, body {
    height:100vh;
    color: #3b3d44;
}