<div th:fragment="dataTable" th:switch="${books}" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 th:case="null">Book Catalogue is Empty!</h2>
    <div th:case="*">
        <h2>Book Catalogue</h2>
        <table id="book_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Inventory</th>
                    <th>Price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.description}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.publisher}"></td>
                    <td th:text="${book.ISBN}"></td>
                    <td th:text="${book.Inventory}"></td>
                    <td th:text="${book.Price}"></td>
                    <td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
                    <td>
                        <form th:action="@{/delete/{id}(id=${book.id})}" method="post">
                            <input class="book-delete-control" type="submit" value="Delete">
                        </form>
                    </td>
                    <td><a class="add-cart-button" th:onclick="|addBookToCart(${book.id})|" href="#">Add to Cart</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>