<div th:fragment="pageHeader" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Icon  -->
        <li id="icon" class="navbar-nav nav-item">
            <a href="/"><img src="/images/icon.png"></a>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline navbar-search" action="/search" method="get"
              autocomplete="off">
            <div class="input-group">
                <input name="keywords" type="text" class="form-control bg-light border-0 small"
                       placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                     aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   placeholder="Search for..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Nav Item - Create a new book button -->
            <li class="nav-item mx-1">
                <a class="nav-link" href="/addbook" role="button" data-toggle="tooltip"
                   title="Create a new book">
                    <i class="fas fa-plus"></i>
                </a>
            </li>

            <!-- Nav Item - Shopping cart icon -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="cart-icon nav-link dropdown-toggle" href="/cart" id="messagesDropdown" role="button"
                   data-toggle="tooltip" title="View shopping cart">
                    <i class="fas fa-shopping-cart"></i>
                    <!-- Counter - Shopping cart -->

                    <span th:if="${cart != null and !cart.items.empty}" class="badge badge-danger badge-counter cart-banner-counter" th:text="${cart.itemCount}"></span>
                </a>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <div th:switch="${user}">
                <div th:case="null" class="nav-item"><a class='nav-link' href="/login">Login</a></div>
                <div th:case="*">
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                th:text="${user.firstName + ' ' + user.lastName}">
                            </span>
                            <img class="img-profile rounded-circle"
                                 th:src="${'https://ui-avatars.com/api/?name='
                                        + user.firstName + '+' + user.lastName + '&size=60'}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Recommendations
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </div>
            </div>

        </ul>
    </nav>
</div>