<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

  <body>
    <div layout:fragment="content">
      <h1>Create Book</h1>
      <form action="#" th:action="@{/addbook}" th:object="${books}" method="post" enctype="multipart/form-data">
        <fieldset class="book-form">
          <label for="name">Name:</label>
          <span class="error-input" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
          <input id="name" type="text" minlength="2" th:field="*{name}">

          <label for="description">Description:</label>
          <span class="error-input" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
          <textarea id="description" name="description" minlength="2" th:field="*{description}"  rows="5"></textarea>

          <label for="ISBN">ISBN:</label>
          <span class="error-input" th:if="${#fields.hasErrors('ISBN')}" th:errors="*{ISBN}"></span>
          <input id="ISBN" type="text" minlength="13" maxlength="13" th:field="*{ISBN}">

          <label for="picture">Picture:</label>
          <input id="picture"  type="file" name="picture"/>
          
          <label for="author">Author:</label>
          <span class="error-input" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
          <input id="author" type="text" minlength="2" th:field="*{author}">
          
          <label for="publisher">Publisher:</label>
          <span class="error-input" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"></span>
          <input id="publisher" type="text" minlength="2" th:field="*{publisher}">
          
          <label for="inventory">Inventory:</label>
          <span class="error-input" th:if="${#fields.hasErrors('inventory')}" th:errors="*{inventory}"></span>
          <input id="inventory" type="number" min="0" th:field="*{inventory}">
          
          <label for="price">Price:</label>
          <span class="error-input" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
          <input id="price" type="number" step="0.01" min="0" th:field="*{price}">

	  <table>
	    <thead>
	      <tr>
		<th>Tag</th>
		<th>
		  <button type="submit" name="addRow">Add tag</button>
		</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr th:each="tag, rowStat : *{tags}">
		<td>
		  <input id= type="text" th:field="*{tags[__${rowStat.index}__].id}">
		</td>
		<td>
		  <button type="submit" name="removeRow"
			  th:value="${tag.id}">Remove tag</button>
		</td>
	      </tr>
	    </tbody>
	  </table>
	  <span class="error-input" th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}"></span>

	  <br>
	  <input id="submit" type="submit" value="Create Book" />
	  <input type="reset" value="Reset" />

        </fieldset>
      </form>
    </div>
  </body>
</html>
