<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Delete Book Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Delete Book</h1>
    <form action="#" th:action="@{/addbook}" th:object="${book}" method="post">
        <p>
            <label for="id">ID:</label>
            <input type="text" th:field="*{id}">
        </p>
        <p><input id="submit" type="submit" value="Create Book" /> <input type="reset" value="Reset" /></p>
    </form>
</body>

</html>