<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
    <body>
    <div layout:fragment="content">
        <div class="header">
            <h1 id="logo">AMAZIN</h1>
            <p>The place where your books reside</p>
        </div>
        <div th:replace=" ~{fragments/_bookBrowser.html :: dataTable} "></div>
    </div>

    <th:block layout:fragment="script">
        <script src="/js/book_view.js"></script>
    </th:block>
</body>
</html>