<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<head>
    <title>Shopping Cart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div layout:fragment="content">
<h1>Shopping Cart</h1>
<div th:if="${cart.items == null or cart.items.empty}">
    Shopping Cart is Empty!
</div>
<div th:unless="${cart.items == null or cart.items.empty}">
    <br>
    <div class="item-count">
        <span class="item-count-value" th:text="${cart.itemCount}"></span>
        <span class="item-count-label"> ITEM(S)</span>
    </div>
    <hr class="shopping-cart-hr">
    <div th:id="'cart-item-' + ${item.book.id}" th:each="item : ${cart.items}">
            <div class="row">
            <div class="cart-item-img col-xs-height col-xs-4 col-md-4 col-lg-3 col-top">
                <img src="https://via.placeholder.com/155x200">
                <!--<img th:attr="src=@{${item.book.picture}}">-->
            </div>
            <div class="cart-item-info col-xs-height col-xs-8 col-md-8 col-lg-9 col-top">
                <div class="cart-item-name" th:text="${item.book.name}"></div>
                <div class="cart-item-price" th:text="'$' + ${#numbers.formatDecimal(item.book.price,1,2)} + ' CAD'"></div>
                <div class="cart-item-detail" th:text="'Author: ' + ${item.book.author}"></div>
                <div class="cart-item-detail" th:text="'ISBN: ' + ${item.book.ISBN}"></div>
                <div class="cart-item-detail" th:text="'Item Price: $' + ${#numbers.formatDecimal(item.book.price,1,2)}"></div>
                <div class="cart-item-detail">
                    <span class="car-item-detail-label">Subtotal: $</span>
                    <span th:id="'cart-subtotal-'+${item.book.id}" class="cart-item-detail" th:text="${#numbers.formatDecimal(item.getSubtotal(),1,2)}"></span>
                </div>
                <div class="cart-item-detail">
                    <span class="car-item-detail-label">Qty: </span>
                    <span th:id="'cart-quantity-'+${item.book.id}" class="cart-item-detail" th:text="${item.quantity}"></span>
                </div>

                <ul class="cart-amount-controls">
                    <li class="cart-amount-control">
                        <button th:class="'cart-decrement-' + ${item.book.id} + ' cart-amount-control-button'" th:disabled="${item.quantity == 1}" th:onclick="|decrementQuantity(${item.book.id})|"><i class="fas fa-minus-square"></i></button>
                    </li>
                    <li class="cart-amount-control">
                        <button th:class="'cart-increment-' + ${item.book.id} + ' cart-amount-control-button'"  th:disabled="${item.quantity == item.book.inventory}" th:onclick="|incrementQuantity(${item.book.id})|"><i class="fas fa-plus-square"></i></button>
                    </li>
                </ul>

                <ul class="cart-item-controls">
                    <a th:href="@{/cart/delete/{id}(id=${item.book.id})}"><li class="cart-item-control">Remove</li></a>
                </ul>
            </div>
            </div>
        <hr>
    </div>
    <div class="cart-total col-md-6">
        <span class="cart-total-label">TOTAL: $</span>
        <span class="cart-total-value" th:text="${#numbers.formatDecimal(cart.getTotal(),1,2)}"></span>
    </div>

</div>
</div>

<th:block layout:fragment="script">
    <script src="/js/shopping_cart.js"></script>
</th:block>
</body>
</html>